services:
  - type: web
    name: your-lms-app
    runtime: docker
    plan: free
    env: php
    buildCommand: "composer install --no-dev --optimize-autoloader && php artisan key:generate"
    startCommand: "php artisan serve --host 0.0.0.0 --port $PORT"
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        value: ep-lingering-feather-a1lxtt6a-pooler.ap-southeast-1.aws.neon.tech
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        value: neondb
      - key: DB_USERNAME
        value: neondb_owner
      - key: DB_PASSWORD
        value: psql -h pg.neon.tech
databases:
  - name: your-lms-db
    databaseName: your_lms_db
    user: your_lms_user
